main h1{
    font-size:60px;
    background-color: rgb(85,19,44);
    color: rgb(250, 255, 250);
    text-align: center;
    font-family: "Open-Sans", Arial, sans-serif;
    padding: 20px;
}
h2{
    font-size:30px;
    font-family: "Open-Sans", Arial, sans-serif;
}
p{
    text-align: justify;
}
main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}